
h1 {
    color: Black;
    font-size: 200px;
    margin: 0px auto;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #000;
    background-color: rgba(200, 200, 200, 0.3);
}
#list_section {
    text-align: center;
}

li:first-child{
    background: violet;
}
li + li{
    background: hotpink;
}
li:last-child{
    background-color: deeppink;
}

li {
    font-size: 20px;
    list-style-type: none;
    width: 20%;
    margin: 0px auto;
    border-radius: 3px;
    border: 1px solid #000;
    padding: 10px;
    margin-top: 50px;
}

